<div class="modal" id="healthInfoModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Информация о здоровье</h3>
            <button class="modal-close" id="closeHealthModal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="modal-icon">
                <i class="fas fa-tools"></i>
            </div>
            <p class="modal-text">Функция находится в разработке</p>
            <p class="modal-text-small">Вы сможете добавить информацию о своем здоровье в настройках профиля после регистрации.</p>
            
            <div class="modal-features">
                <div class="feature-item">
                    <i class="fas fa-file-medical"></i>
                    <span>Медицинская карта</span>
                </div>
                <div class="feature-item">
                    <i class="fas fa-pills"></i>
                    <span>Прием препаратов</span>
                </div>
                <div class="feature-item">
                    <i class="fas fa-chart-line"></i>
                    <span>Мониторинг показателей</span>
                </div>
                <div class="feature-item">
                    <i class="fas fa-calendar-check"></i>
                    <span>Напоминания о приемах</span>
                </div>
            </div>
            
            <div class="modal-info">
                <p><i class="fas fa-info-circle"></i> Когда эта функция появится мы вам сообщим и поможем ее настроить!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" id="closeHealthModalBtn">Закрыть</button>
        </div>
    </div>
</div>
